---
title: Konrad Nowakowski | Portfolio
layout: default
---
<section class="section section-about-me">
  <div class="container">
    <h2>About me</h2>
    {% include about-me.html %}
  </div>
</section>

<section class="section section-tech-stack">
  <div class="container">
    <h2>Tech stack</h2>
    {% include techstack.html %}
  </div>
</section>

<section class="section section-portfolio">
  <div class="container">
    <h2>Portfolio</h2>
    {% include portfolio.html %}
  </div>
</section>

<section class="section section-contact">
  <div class="container-form">
    <h2>Contact</h2>
    <p class="text-center">
      You can contact me by emailing me directly or using the contact form.
      Either way I&nbsp;will be happy to hear from you.
    </p>
    {% include contact.html %}
  </div>
</section>

<section class="section">
  <div class="container">
    <p class="text-center">
      EOF!1&gt;iad(1fd8&lt;1#12_fa-9fb9dfa...
    </p>
  </div>
</section>
