---
title: Konrad Nowakowski | Portfolio
layout: default
---
<section class="section section-about-me">
  <div class="container">
    <h2>About me</h2>
    <p class="text-center">
      Hi, I'm Konrad Nowakowski and welcome on my portfolio.
      Mainly I'm working as a JavaScript/TypeScript Developer and I have knowledge in both areas - frontend and backend.
      I've been working with technologies such as Angular, Ionic, ngrx, NodeJS, Express and more.
    </p>
  </div>
</section>

<section class="section section-tech-stack">
  <div class="container">
    <h2>Tech stack</h2>
    {% include techstack.html %}
  </div>
</section>

<section class="section section-portfolio">
  <div class="container">
    <h2>Portfolio</h2>
    {% include portfolio.html %}
  </div>
</section>

<section class="section section-contact">
  <div class="container">
    <h2>Contact</h2>
    <p class="text-center">
      You can contact me by emailing me directly or using the contact form.<br />
      Either way I&nbsp;will be happy to hear from you.
    </p>
    <form class="form" action="/" method="get">
      <div class="control-group">
        <label class="control-label">Your name</label>
        <input class="control" type="text" name="name" placeholder="John Doe">
      </div>
      <div class="control-group">
        <label class="control-label">Your email address</label>
        <input class="control" type="text" name="email" placeholder="foo@example.com">
      </div>
      <div class="control-group">
        <label class="control-label">Message</label>
        <textarea class="control" name="message" rows="6" placeholder="Just be polite please"></textarea>
      </div>
      <div class="control-group">
        <button class="button" type="submit">Submit</button>
      </div>
    </form>
  </div>
</section>

<section class="section">
  <div class="container">
    <p class="text-center">
      EOF!1&gt;iad(1fd8&lt;1#12_fa-9fb9dfa...
    </p>
  </div>
</section>
