<div class="profile">
  <div class="profile-column">
    <p class="text-left">
      My name is Konrad Nowakowski, a Frontend Developer based in Glasgow,
      Scotland. Main interest in programming languages are <u>JavaScript</u> and
      <u>TypeScript</u>. Have had experience in working with both frameworks
      <u>Angular</u> and <u>Vue</u>, also with utilizing redux-alike store
      solutions (NgRx, Vuex).
    </p>
    <p class="text-left">
      Having 4 years of documented commercial experience in app architecture
      designing and implementing mid-sized projects. If you're interested in my work
      <a href="#portfolio">jump to my portfolio &raquo;</a>
    </p>
    <p class="text-left">
      Apart from the commercial work - an off-duty game designer and guitar player.
      If you want to give me a holler you're welcome to contact me through
      <a href="#contact">the contact form or email me directly &raquo;</a>
    </p>
  </div>
  <div class="profile-column">
    <div class="profile-image-aspect">
      <div class="profile-image" data-viewport="animate"></div>
    </div>
  </div>
</div>
