<form class="form" action="https://formspree.io/f/xvovnppg" method="POST">
  <input type="hidden" name="_subject" value="New submission!" />
  <div class="control-group">
    <label class="control-label">Your name</label>
    <input class="control" type="text" name="name" placeholder="John Doe">
  </div>
  <div class="control-group">
    <label class="control-label">Your email address</label>
    <input class="control" type="text" name="email" placeholder="foo@example.com">
  </div>
  <div class="control-group">
    <label class="control-label">Message</label>
    <textarea class="control" name="message" rows="6" placeholder="Just be polite please"></textarea>
  </div>
  <div class="control-group">
    <button class="button" type="submit">Submit</button>
  </div>

  <div class="form-loading">
    <p class="form-please-wait">Please wait</p>
  </div>

  <div class="form-result-success">
    <div class="text-center">
      <h3>Thank you!</h3>
      <p>Your email have been delivered successfully.</p>
    </div>
  </div>

  <div class="form-result-error">
    <div class="text-center">
      <p>Failed to send an email. Please try again later.</p>
    </div>
  </div>
</form>
