<form class="form" action="/" method="get">
  <div class="control-group">
    <label class="control-label">Your name</label>
    <input class="control" type="text" name="name" placeholder="John Doe">
  </div>
  <div class="control-group">
    <label class="control-label">Your email address</label>
    <input class="control" type="text" name="email" placeholder="foo@example.com">
  </div>
  <div class="control-group">
    <label class="control-label">Message</label>
    <textarea class="control" name="message" rows="6" placeholder="Just be polite please"></textarea>
  </div>
  <div class="control-group">
    <button class="button" type="submit">Submit</button>
  </div>
</form>
