<nav class="navbar">
  <div class="container">
    <ul class="nav">
      <li class="nav-item">
        <a href="/">Home</a>
      </li>
      <li class="nav-item">
        <a href="/about-me">About Me</a>
      </li>
      <li class="nav-item">
        <a href="/projects">Projects</a>
      </li>
      <li class="nav-item">
        <a href="/blog">Blog</a>
      </li>
      <li class="nav-item nav-external">
        <a href="https://lethiandev.itch.io/">itch.io</a>
      </li>
      <li class="nav-item nav-external">
        <a href="https://github.com/lethiandev">github.com</a>
      </li>
    </ul>
  </div>
</nav>
