<div class="portfolio">
  {% for project in site.projects reversed %}
    {% assign index = forloop.index %}
    {% include project.html %}
  {% endfor %}
</div>

<div class="text-center">
  Check out also my
  <a href="https://github.com/lethiandev" target="_blank">
    <img src="/assets/images/icon-octocat.png" alt="Octocat"> github profile
  </a>
  and
  <a href="https://lethiandev.itch.io/" target="_blank">
    <img src="/assets/images/icon-itchio.png" alt="itch.io"> itch.io page.
  </a>
</div>
