<div class="portfolio">
  <div class="portfolio-project">
    <div class="portfolio-project-column">
      <h3>Test project name</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit.
        Architecto harum sunt velit laborum repudiandae repellat
        a, eos possimus est!
      </p>
    </div>
    <div class="portfolio-project-column">
      <img src="/assets/images/foreground.png" />
    </div>
  </div>
  <div class="portfolio-project">
    <div class="portfolio-project-column">
      <h3>Test project name</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit.
        Architecto harum sunt velit laborum repudiandae repellat
        a, eos possimus est!
      </p>
    </div>
    <div class="portfolio-project-column">
      <img src="/assets/images/foreground.png" />
    </div>
  </div>
</div>
