<div class="techstack">
  <div class="techstack-logo" title="HTML5">
    <img src="/assets/images/logo-html5.png" alt="HTML5 Logo" />
  </div>
  <div class="techstack-logo" title="JavaScript">
    <img src="/assets/images/logo-js.png" alt="JavaScript Logo" />
  </div>
  <div class="techstack-logo" title="CSS3">
    <img src="/assets/images/logo-css3.png" alt="CSS3 Logo" />
  </div>
  <div class="techstack-logo" title="TypeScript">
    <img src="/assets/images/logo-ts.png" alt="TypeScript Logo" />
  </div>
  <div class="techstack-logo" title="Webpack">
    <img src="/assets/images/logo-webpack.png" alt="Webpack Logo" />
  </div>
  <div class="techstack-logo" title="Angular 2+">
    <img src="/assets/images/logo-angular.png" alt="Angular Logo" />
  </div>
  <div class="techstack-logo" title="VueJS">
    <img src="/assets/images/logo-vue.png" alt="VueJS Logo" />
  </div>
</div>
