html, body {
  //font-family: 'Quicksand', sans-serif;
  font-family: 'VT323', monospace;
  overflow: hidden;
}

body {
  overflow-x: hidden;
  overflow-y: auto;
  width: 100vw;
  height: 100vh;
  perspective: 1px;
  perspective-origin: center;
  transform-style: preserve-3d;
}

.header {
  position: relative;
  height: 100vh;

  > * {
    position: relative;
  }
}

.container {
  margin: 0 auto;
  padding: 20px;
  max-width: 960px;
}

.terminal {
  font-size: 16pt;
  text-shadow: 0 2px 12px rgba(0, 255, 0, 0.4);
  color: #40ff00;
  transform: scale(1);

  &:after {
    content: "|";
    font-weight: 700;
    animation: blinking linear 1s infinite;
  }

  &.typing:after {
    animation: none;
  }

  > span::before {
    content: "> ";
  }
}

.terminal-header {
  margin-top: 100px;
  font-size: 36pt;
}

@keyframes blinking {
  0% { opacity: 1.0; }
  50% { opacity: 1.0; }
  51% { opacity: 0.0; }
  100% { opacity: 0.0; }
}

.parallax {
  background: #282828;
  overflow: hidden;
  transform-style: preserve-3d;
}

.parallax-layer {
  image-rendering: pixelated;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  transform-style: preserve-3d;
  transform-origin: center;

  &:nth-child(1) {
    background-image: url("/assets/images/far-buildings.png");
    transform: translateZ(-7px) scale(8);
  }

  &:nth-child(2) {
    background-image: url("/assets/images/back-buildings.png");
    transform: translateZ(-3px) scale(4);
  }

  &:nth-child(3) {
    background-image: url("/assets/images/foreground.png");
    transform: translateZ(-1px) scale(2);
  }
}

.parallax,
.parallax-layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}
