html, body {
  //font-family: 'Quicksand', sans-serif;
  font-family: 'VT323', monospace;
  overflow: hidden;
}

body {
  // Ensure the body element has scroll bar
  // WIthout it the parallax effect won't work
  overflow-x: hidden;
  overflow-y: auto;
  width: 100vw;
  height: 100vh;

  // Enable 3D for parallax effect
  perspective: 1px;
  perspective-origin: center;
  transform-style: preserve-3d;
}

@import 'components/terminal';

.header {
  padding: 100px 20px;
  position: relative;
  box-sizing: border-box;
  height: 100vh;

  > .terminal {
    margin: 0 auto;
    width: 100%;
    max-width: 960px;
    height: 100%;
  }
}

.container {
  margin: 0 auto;
  padding: 20px;
  max-width: 960px;
}

.parallax {
  background: #282828;
  overflow: hidden;
  transform-style: preserve-3d;
}

.parallax-layer {
  image-rendering: pixelated;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  transform-style: preserve-3d;
  transform-origin: center;

  &:nth-child(1) {
    background-image: url("/assets/images/far-buildings.png");
    transform: translateZ(-7px) scale(8);
  }

  &:nth-child(2) {
    background-image: url("/assets/images/back-buildings.png");
    transform: translateZ(-3px) scale(4);
  }

  &:nth-child(3) {
    background-image: url("/assets/images/foreground.png");
    transform: translateZ(-1px) scale(2);
  }
}

.parallax,
.parallax-layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}
