html, body {
  //font-family: 'Quicksand', sans-serif;
  font-family: 'VT323', monospace;
  font-size: 18pt;
  overflow: hidden;
}

body {
  // Ensure the body element has scroll bar
  // WIthout it the parallax effect won't work
  overflow-x: hidden;
  overflow-y: auto;
  width: 100vw;
  height: 100vh;

  // Enable 3D for parallax effect
  perspective: 1px;
  perspective-origin: center;
  transform-style: preserve-3d;
}

@import 'basic';
@import 'components/button';
@import 'components/form';
@import 'components/terminal';
@import 'components/parallax';
@import 'components/techstack';

.header {
  padding: 100px 20px;
  position: relative;
  box-sizing: border-box;
  height: 100vh;

  > .terminal {
    margin: 0 auto;
    width: 100%;
    max-width: 960px;
    height: 100%;
  }

  @media (max-height: 600px) and (orientation: landscape) {
    padding: 40px 20px;
    .terminal-body {
      margin-bottom: 20px;
    }
  }
}

@mixin main-section-gaps($size) {
  .section {
    padding-top: ($size * 0.5 - 6px);
    padding-bottom: ($size * 0.5);
  }
  @content
}

@include main-section-gaps($size: 140px) {
  @media (max-width: 600px) {
    @include main-section-gaps($size: 100px)
  }
  @media (max-height: 600px) and (orientation: landscape) {
    @include main-section-gaps($size: 100px)
  }
}

.section {
  &-tech-stack,
  &-contact {
    background-image: url('/assets/images/dithering.png');
    background-position: center bottom;
    background-repeat: repeat-x;
    background-color: #f8f8f8;
  }
}

.container {
  margin: 0 auto;
  padding: 0 20px;
  max-width: 900px;
}
