.modal {
  display: none;

  // Keep modal on screen all times
  position: fixed;
  z-index: 100;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  // Toggle modal by checkbox control
  input:checked + & {
    display: block;
  }
}

.modal-backdrop {
  padding: 20px;
  background: rgba(0,0,0,.75);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.modal-content {
  background: #ffffff;
  padding: 20px;
  box-sizing: border-box;
  max-width: 100%;
  max-height: 100%;
  overflow: hidden;
  position: relative;

  img {
    display: block;
    max-width: 100%;
    max-height: 100%;
  }
}

.modal-close {
  position: absolute;
  top: 2px;
  right: 2px;

  label {
    background: url('/assets/images/modal-close.png');
    cursor: pointer;
    display: block;
    width: 16px;
    height: 16px;
  }
}
