.portfolio {
  padding: 20px 0;
  background-image: url('/assets/images/vertical.png');
  background-position: center top;
  background-repeat:  repeat-y;

  @media (max-width: 800px) {
    background-image: none;
  }
}

.project {
  margin-bottom: 40px;
  &:last-child {
    margin-bottom: 0;
  }

  &-row {
    margin: 0 -20px;
    display: flex;
    flex-direction: row;
  }

  &-column {
    margin: 0 20px;
    flex: 1 1 auto;
    width: 100%;
  }

  &-column img {
    border: solid 4px #000000;
    box-sizing: border-box;
    display: block;
    width: 100%;
  }

  @media (max-width: 800px) {
    &-row {
      flex-wrap: wrap;
    }
    &-column {
      margin-bottom: 20px;
    }
    &-column:last-child {
      margin-bottom: 0;
    }
  }
}

// Hide checkbox input
// Used to reveal project details
.project > input {
  visibility: hidden;
  pointer-events: none;
  position: absolute;
}

.project-details {
  margin-top: 20px;
  padding: 20px;
  background: #f8f8f8;
  position: relative;
  display: none;

  input:checked + & {
    display: block;
  }

  &::before {
    margin: 0 0 0 -10px;
    background: #f8f8f8;
    content: '';
    display: block;
    width: 20px;
    height: 20px;
    transform: rotate(45deg);
    position: absolute;
    top: -10px;
    left: 50%;
  }
}
