.profile {
  margin: 0 -20px;
  display: flex;
  align-items: flex-start;
}

.profile-desc,
.profile-aspect {
  padding: 0 20px;
}

.profile-aspect {
  flex: 0 0 auto;
  background: #ff0000;
  width: 250px;
}

.profile-image {
  padding-top: 100%;
}
