.profile {
  margin: 0 -20px;
  display: flex;
  align-items: flex-start;

  @media (max-width: 600px) {
    flex-direction: column;
  }
}

.profile-column {
  padding: 0 20px;

  &:last-child {
    @media (max-width: 600px) {
      margin: 0 auto 20px auto;
      order: -1;
    }
  }
}

.profile-image {
  padding-top: 100%;

  &-aspect {
    background: #ff0000;
    width: 250px;
  }
}
