<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ page.title }}</title>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=VT323&display=swap" rel="stylesheet">
  <link href="/assets/css/style.css" type="text/css" rel="stylesheet">
</head>
<body>
  <header class="header">
    {% include parallax.html %}
    {% include terminal.html %}
  </header>
  <main class="main">
    {{ content }}
  </main>
  <script src="/assets/js/require.js" data-main="index"></script>
  <script src="/assets/js/bundle.js"></script>
</body>
</html>
